<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/c077af0c96.js"
	crossorigin="anonymous"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
	rel="stylesheet">
<link th:href="@{/css/add-user.css}" rel="stylesheet">
</head>
<body>
	<div class="container-fuild">
		<div style="height: 200px"
			class="d-flex justify-content-center d-flex align-items-center">
			<p class="h1">ADD NURSE</p>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<form th:action="@{/nurse/add}" th:object="${nurse}" method="post">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Name</label> <input
							type="text" class="form-control" th:field="*{name}">
					</div>
					<div class="mb-3">
						<label for="exampleDataList" class="form-label">Gender</label>
						<select class ="form-select" aria-label="Default select example"
							th:field="*{gender}">
						<option value="Nam">Nam</option>
						<option value="Nữ">Nữ</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Birthday</label>
						<input type="Date" class="form-control" name="bdate">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Seniority</label>
						<input type="text" class="form-control" th:field="*{seniority}">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Id
							Number</label> <input type="text" class="form-control"
							th:field="*{idnumber}">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Level</label> <input
							type="text" class="form-control" th:field="*{level}">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Phone</label> <input
							type="text" class="form-control" th:field="*{phone}">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Address</label>
						<input type="text" class="form-control" th:field="*{address}">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</body>
</html>